<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Publication List</title>
</head>
<body>
<ul>
  <li>小塚詩穂里， <b>佐々木崇元</b>， 坂東幸浩， 伊藤弘章， 早瀬和也， 鎌土記良， 北原正樹, "グラフと信号補間の同時学習に基づく少数チャネル音響信号からの音場再構成", <i>研究報告音声言語情報処理 (SLP)</i>, vol. 2025, no. 7, pp. 1-8, 2025.</li>
  <li><b>佐々木崇元</b>， 早瀬和也， 北原正樹， 小野峻佑, "Reverse Sorted Sum of Squares によるスパース正則化", <i>第39回 信号処理シンポジウム講演論文集</i>, 2024.</li>
  <li>小塚詩穂理， <b>佐々木崇元</b>， 伊藤弘章， 鎌土記良, "[招待講演] グラフ解析と多チャネル音響信号処理の融合に関する基礎検討", <i>電子情報通信学会技術研究報告; 信学技報</i>, vol. 124, no. no. 318, EA2024-71, pp. 44-49, 2024.</li>
  <li><b>佐々木崇元</b>， 早瀬和也， 北原正樹， 小野峻佑, "スパース正則化関数 Reverse Sorted Sum of Squares を用いた画像線形逆問題の解法", <i>2024年度画像符号化シンポジウム（PCSJ 2024） 2024年度映像メディア処理シンポジウム（IMPS 2024）</i>, pp. 150-151, 2024.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "有向グラフに対するグラフフーリエ変換の計算量削減法の検討", <i>2023年度画像符号化シンポジウム（PCSJ 2023） 2023年度映像メディア処理シンポジウム（IMPS 2023）</i>, pp. 16-17, 2023.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "有向グラフ信号処理のための高速グラフフーリエ変換", <i>第38回 信号処理シンポジウム</i>, 2023.</li>
  <li><b>佐々木崇元</b>, "［招待講演］低ランク解析のための高速並列特異値閾値処理", <i>電子情報通信学会技術研究報告; 信学技報</i>, vol. 123, no. SIP-152, pp. 19, 2023.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "高速グラフフーリエ変換に基づくグラフ信号雑音除去の高速化と画像応用に関する一検討", <i>電子情報通信学会技術研究報告; 信学技報</i>, vol. 122, no. IE-376, pp. 11-16, 2023.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "加重核型ノルム正則化に基づくグラフ単純化", <i>第21回 情報科学技術フォーラム (FIT2022)</i>, no. 3, pp. 101-108, 2022.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "高速グラフフーリエ変換に基づくグラフ信号雑音除去の高速化", <i>第37回 信号処理シンポジウム</i>, pp. 432-437, 2022.</li>
  <li><b>佐々木崇元</b>， 谷田隆一， 木全英明, "高速逆数平方根による Fast Multiple 特異値閾値処理の高速化", <i>電子情報通信学会技術研究報告; 信学技報</i>, vol. 120, no. SIP-321, pp. 230-234, 2021.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "尖星全変動正則化に基づくグラデーションとエッジ同時制御可能なエッジ保存平滑化", <i>第36回 信号処理シンポジウム</i>, pp. 181-186, 2021.</li>
  <li><b>佐々木崇元</b>， 北原正樹， 清水淳, "低ランク最適化のための高速特異値閾値処理の数理", <i>第16回 情報科学技術フォーラム(FIT2017)</i>, no. 1, pp. 140-141, 2017.</li>
  <li><b>佐々木崇元</b>， 谷田隆一， 清水淳, "グラフ信号の局所線形近似によるグラフ形状単純化", <i>第 15 回 情報科学技術フォーラム (FIT2016)</i>, no. 3, pp. 1-4, 2016.</li>
  <li><b>佐々木崇元</b>， 北原正樹， 清水淳, "領域情報符号化における核型ノルム最適化の高速計算法", <i>第31回 画像符号化シンポジウム (PCSJ)</i>, pp. 140-141, 2016.</li>
  <li><b>佐々木崇元</b>， 谷田隆一， 清水淳, "コントラスト不変性に基づく着目領域の TV-L1 画像分解高速化", <i>情報科学技術フォーラム講演論文集</i>, vol. 14, no. 3, pp. 235-236, 2015.</li>
  <li><b>佐々木崇元</b>， 谷田隆一， 清水淳, "信号分解と Texture 合成に基づく符号化方式の検討", <i>電子情報通信学会総合大会講演論文集</i>, vol. 2015, no. 2, pp. 44, 2015.</li>
  <li><b>佐々木崇元</b>， 谷田隆一， 清水淳, "Texture合成符号化における非合成領域決定法の検討", <i>第30回 画像符号化シンポジウム (PCSJ)</i>, pp. 48-49, 2015.</li>
  <li><b>佐々木崇元</b>， 中静真， 飯國洋二, "スパースペナルティを課した信号識別モデルによるスパース周期信号分解", <i>第27回信号処理シンポジウム</i>, pp. 385-390, 2012.</li>
  <li><b>佐々木崇元</b>， 中静真， 飯國洋二, "周波数スペクトルのスパース性に基づくランダムサンプリングからの音響信号復元", <i>電子情報通信学会総合大会講演論文集</i>, vol. 2011, pp. 83, 2011.</li>
  <li><b>佐々木崇元</b>， 中静真， 飯國洋二, "周波数スペクトル上スパース性を用いたランダムサンプリングからの音響信号復元", <i>第5回関西地区信号処理とその応用研究会</i>, 2011.</li>
</ul>
</body>
</html>