<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Publication List</title>
</head>
<body>
<ul>
  <li>小塚詩穂里， <b>佐々木崇元</b>， 坂東幸浩， 伊藤弘章， 早瀬和也， 鎌土記良， 北原正樹, "グラフと信号補間の同時学習に基づく少数チャネル音響信号からの音場再構成", <i>研究報告音声言語情報処理 (SLP)</i>, vol. 2025, no. 7, pp. 1-8, 2025.</li>
  <li><b>佐々木崇元</b>， 早瀬和也， 北原正樹， 小野峻佑, "Reverse Sorted Sum of Squares によるスパース正則化", <i>第39回 信号処理シンポジウム講演論文集</i>, 2024.</li>
  <li>小塚詩穂理， <b>佐々木崇元</b>， 伊藤弘章， 鎌土記良, "［招待講演］グラフ解析と多チャネル音響信号処理の融合に関する基礎検討", <i>電子情報通信学会技術研究報告; 信学技報</i>, vol. 124, no. no. 318, EA2024-71, pp. 44-49, 2024.</li>
  <li><b>佐々木崇元</b>， 早瀬和也， 北原正樹， 小野峻佑, "スパース正則化関数 Reverse Sorted Sum of Squares を用いた画像線形逆問題の解法", <i>2024年度画像符号化シンポジウム（PCSJ 2024） 2024年度映像メディア処理シンポジウム（IMPS 2024）</i>, pp. 150-151, 2024.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "有向グラフに対するグラフフーリエ変換の計算量削減法の検討", <i>2023年度画像符号化シンポジウム（PCSJ 2023） 2023年度映像メディア処理シンポジウム（IMPS 2023）</i>, pp. 16-17, 2023.</li>
  <li><b>佐々木崇元</b>， 坂東幸浩， 北原正樹, "有向グラフ信号処理のための高速グラフフーリエ変換", <i>第38回 信号処理シンポジウム</i>, 2023.</li>
  <li><b>佐々木崇元</b>， 北原正樹， 清水淳, "低ランク最適化のための高速特異値閾値処理の数理", <i>第16回 情報科学技術フォーラム(FIT2017)</i>, no. 1, pp. 140-141, 2017.</li>
  <li><b>佐々木崇元</b>， 谷田隆一， 清水淳, "グラフ信号の局所線形近似によるグラフ形状単純化", <i>第 15 回 情報科学技術フォーラム (FIT2016)</i>, no. 3, pp. 1-4, 2016.</li>
  <li><b>佐々木崇元</b>， 北原正樹， 清水淳, "領域情報符号化における核型ノルム最適化の高速計算法", <i>第31回 画像符号化シンポジウム (PCSJ)</i>, pp. 140-141, 2016.</li>
</ul>
</body>
</html>