<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Publication List</title>
</head>
<body>
<ul>
  <li><b>Takayuki Sasaki</b>, Yukihiro Bandoh, Masaki Kitahara, "Sparse Regularization Based on Reverse Ordered Weighted L1-Norm and Its Application to Edge-Preserving Smoothing", <i>ICASSP 2024-2024 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</i>, pp. 9531-9535, 2024.</li>
  <li><b>Takayuki Sasaki</b>, Yukihiro Bandoh, Masaki Kitahara, "Complexity Reduction of Graph Signal Denoising Based on Fast Graph Fourier Transform", <i>2023 IEEE International Conference on Image Processing (ICIP)</i>, pp. 1910-1914, 2023.</li>
  <li><b>Takayuki Sasaki</b>, Ryuichi Tanida, Masaki Kitahara, Hideaki Kimata, "Fast-Parallel Singular Value Thresholding for Many Small Matrices based on Geometric Feature of Singular Values", <i>2021 Asia-Pacific Signal and Information Processing Association Annual Summit and Conference (APSIPA ASC)</i>, pp. 1-8, 2021.</li>
  <li><b>Takayuki Sasaki</b>, Makoto Nakashizuka, "Audio signal recovery from random sampling with sparsity prior on frequency spectrum", <i>The 26th International Technical Conference on Circuits/Systems, Computers and Communications</i>, vol. 1, pp. 447-450, 2011.</li>
</ul>
</body>
</html>